*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    min-height: 105vh;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5rem;
    line-height: 2;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;


}

h2 {
    font-size: 2.2rem;

}

p {
    font-size: 1.5rem;
}

img {
    width: 400px;
    margin-bottom: 50px;
    border: 12px solid black;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: #b3b3b3;
}

#title {
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
}

/* Navbar */

nav {
    height: 64px;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 30px;
}

/* Home Section */

.home {
    background-color: navajowhite;
}
 
.home div {
    transform: translate(64px);
    margin: 5%;
}

/* About Section */

.about div {

}